PUBLIC_URL=
REACT_APP_API_URL=http://localhost:8088

GENERATE_SOURCEMAP=false
REACT_APP_COGNITO_AUTHORITY=https://cognito-idp.ap-southeast-2.amazonaws.com/ap-southeast-2_XXX
REACT_APP_COGNITO_CLIENT_ID=XXXXX
REACT_APP_COGNITO_REDIRECT_URI=http://localhost:3000
REACT_APP_COGNITO_LOGOUT_REDIRECT_URI=http://localhost:3000/logout
