.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #282c34;
  padding: 10px 20px;
  color: white;
  height: 45px; /* cố định chiều cao */
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}
